body {
  padding: 0;
  margin: 0;
}

/*Navbar*/
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 10px;
}
.logo {
  width: 50px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
}

.link {
  margin: 0 20px;
}

/*Banner*/
.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/2599244/pexels-photo-2599244.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 500px;
}

.banner h1, .banner p {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

/*Service*/
.service-img {
  width: 100px;
}

/*Footer*/
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
